// Font declarations for Reisinger font families

// Amir Font Family
@font-face {
  font-family: 'Reisinger Amir';
  src: url('./fonts/Amir/Reisinger-Amir-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Idan Font Family
@font-face {
  font-family: 'Reisinger Idan';
  src: url('./fonts/Idan/Reisinger-Idan-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reisinger Idan';
  src: url('./fonts//Idan/Reisinger-Idan-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Michal Font Family
@font-face {
  font-family: 'Reisinger Michal';
  src: url('./fonts/Michal/Reisinger-Michal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reisinger Michal';
  src: url('./fonts/Michal/Reisinger-Michal-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reisinger Michal';
  src: url('./fonts/Michal/Reisinger-Michal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Neta Font Family
@font-face {
  font-family: 'Reisinger Neta';
  src: url('../fonts/Reisinger-Neta-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reisinger Neta';
  src: url('../fonts/Reisinger-Neta-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reisinger Neta';
  src: url('../fonts/Reisinger-Neta-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}